Options -Indexes

RewriteEngine on
RewriteCond %{HTTP_REFERER} ^$ [OR]
RewriteCond %{HTTP_REFERER} !^https://cactus.in.th/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cactus.in.th/.*$ [NC]
RewriteRule .*\.(css|dbs)$ https://cactus.in.th/TUDM [R,NC]